.container{
    width: 400px;
    height: 540px;
    border:solid 1px;
    border-radius: 30px;
    margin-top: 150px;
    margin-left: 500px;
    padding: 30px;
    background-color:dodgerblue;
    position: absolute;
    
   

}
#display{
   margin-top: 40px;
   margin-left: 5px;
    margin-right: 40px;
    margin-bottom: 50px;
    width: 340px;
    height: 40px;
    display: inline-block;
    border: solid 1px;
    background-color: white;
    cursor:pointer;
    position: absolute;

    
}

.buttons{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    margin-right: 200px;
    margin-top: 140px;
    margin-bottom: 250px;
    font-size: 20px;
    color: white;
    position: absolute;


    
}
.button{
    height: 43px;
    width: 43px;
    background-color:black;
    border-radius: 90%;
    display: inline-block;
    font-size: 26px;
    text-align: center;

}
#plus{
    height: 43px;
    width: 43px;
    background-color:yellow;
    border-radius: 90%;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    color: black;

}
#minus{
    height: 43px;
    width: 43px;
    background-color:yellow;
    border-radius: 90%;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    color: black;
}
#multiply{
    height: 43px;
    width: 43px;
    background-color:yellow;
    border-radius: 90%;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    color: black;
}
#clear{
    height: 43px;
    width: 43px;
    background-color:red;
    border-radius: 90%;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    color: black;
}
#equal{
    height: 43px;
    width: 43px;
    background-color:green;
    border-radius: 90%;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    color: black;
}
#divide{
    height: 43px;
    width: 43px;
    background-color:yellow;
    border-radius: 90%;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    color: black;
}
.primary-content{
    text-align: right;
    padding-top: 5px;
    font-style: normal;
    padding-right: 5px;
    font-weight: bold;
}
h1{

 text-align: center;
   
    background-color: dodgerblue;
   
}
body{
    background-color:lightskyblue;
}

  









